//----HEADER----//
.header{
    width: 100%;  
    height: auto;  
    background-color: black;         
    display: flex;
    justify-content:space-around;        
    flex-direction: row;
    padding: 27px;   

    .header-list{
        display: flex;   
        list-style: none;           
        align-items: center;   
        padding: 0;
        margin: 0;

        li{
            a{
                text-decoration: none;  
                font-family: 'Montserrat', sans-serif;
                color: nth($paleta-colores, 1);
                font-size: nth($font-size, 9);
                margin: 10px;  
            }
        }
    }

    .logo{
        @extend %flex;

        a{
            img{
                width: 180px;
                height: 55px;
            }
        }

    }

    .button-drp{
        a{                    
            .btn{
                text-decoration: none;
            }
        }
    }
}