main{
    .main-reserva{
        @extend %flex;

        a{
            img{
                width: 100%;
            }
        }
    }

    .form-reserva{
        text-align: center;      
        border-style: solid;    
        width: 350px;
        line-height: 25px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 40px;

        .modelos-corolla{
            display: block;

            h1{
                font-family: 'Montserrat', sans-serif;
                color: black;   
                margin-bottom: 20px;
            }

            select{
                margin-bottom: 10px;
            }
        }

        div{
            label{
                font-family: 'Montserrat', sans-serif;
                color: black;
                line-height: 15px;
            }

            input{
                font-family: 'Montserrat', sans-serif;
                color: black;     
                width: 200px;  
                margin: 2px;   
            }

            button{
                padding: 10px 20px;
                margin-bottom: 10px;
                margin-top: 10px;
                background-color: #3c33b8;
                color: white;
                border: none;
                cursor: pointer;                
            }

            #email{
                margin-left: 20px;
            }
        }   
    }
}