.main-contacto{
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/llaves.jpg);    
    background-size: cover;   
    background-repeat: no-repeat;     
    background-position: center; 
    background-attachment: fixed;

    .form-contacto{
        width: 100%;
        height: 600px;
        text-align: center;
        margin-top: 100px;  

        div{
            label{
                font-family: 'Montserrat', sans-serif;
                color: white;  
            }

            input{
                font-family: 'Montserrat', sans-serif;
                color: black;       
                font-weight: bolder;
                margin-top: 5px;
            }

            #apellido{
                margin-left: 2px;
            }

            #email{
                margin-left: 20px;
            }
            
            h3{
                font-family: 'Montserrat', sans-serif;
                color: white;   
                margin-top: 25px;
            }

            button{
                padding: 7px 15px;
                background-color: #3c33b8;
                color: white;
                border: none;
                cursor: pointer;
            }
        }
    }
}