%flex{
	display: flex;
	justify-content: center;
	align-items: center;
}


@mixin flex ($display, $justify, $align){
	display: $display;
	justify-content: $justify;
	align-items: $align; 
}


:root{
	--color: #17a2ff;
}


$paleta-colores: #ffc845, black, white, orangered;

$font-size: 54px, 44px, 40px, 25px, 18px, 16px, 15px, 14px, 13px, 12px;

$color-primario:#ffc845;
$color-secundario:black;
$color-terciario:white;
$color-trancision:orangered;